<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9fd9b">  <td>20/07/02 01:20:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HappyTripLogIn.logintoAdmin(java.lang.String, java.lang.String)[pri:0, instance:com.skillassure.happytrip.tests.HappyTripLogIn@53f65459]">logintoAdmin</td> 
  <td>main@161960012</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/07/02 01:20:13</td>   <td>-5849</td> <td>&nbsp;</td><td title="&gt;&gt;HappyTripLogIn.setup()[pri:0, instance:com.skillassure.happytrip.tests.HappyTripLogIn@53f65459]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@161960012</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/07/02 01:20:28</td>   <td>9387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HappyTripLogIn.teardown()[pri:0, instance:com.skillassure.happytrip.tests.HappyTripLogIn@53f65459]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@161960012</td>   <td></td> </tr>
</table>
